@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes zoom-shake {
    0%, 100% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(-2deg);
    }
    50% {
        transform: scale(1.1) rotate(2deg);
    }
    75% {
        transform: scale(1.1) rotate(-2deg);
    }
}

.hero-card-image:hover {
    animation: zoom-shake 0.5s ease-in-out;
}

/* New Search Bar Styles */
.search-container {
  position: relative;
  width: 100%;
}

.search-main {
  position: relative;
  border: 2px solid #5F8FA4;
  height: 40px;
  background: #B1BEC6;
  width: 100%;
  border-radius: 50px;
  padding-left: 31px;
  padding-right: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  color: #555;
  box-sizing: border-box;
}

.search-main:focus {
  outline: none;
}

.searchicon {
  position: absolute;
  height: 12px;
  width: 12px;
  background: transparent;
  border: 3px solid #5F8FA4;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  pointer-events: none;
}

.searchicon:after {
  content: '';
  position: absolute;
  background: #5F8FA4;
  height: 6px;
  width: 3px;
  bottom: -5px;
  right: -3px;
  transform: rotate(-45deg);
}

.microphone {
  position: absolute;
  height: 24px;
  width: 24px;
  background: #FF5252;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0px 1px 2px 0px #555;
  cursor: pointer;
}

.microphone:after {
  content: '';
  position: absolute;
  background: #BF3D3D;
  height: 12px;
  width: 8px;
  border-radius: 10px;
  left: 8px;
  top: 3px;
}

.microphone:before {
  content: '';
  position: absolute;
  border-bottom: 2px solid #BF3D3D;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  top: 6px;
  left: 7px;
}

.mic-stand {
  position: absolute;
  height: 4px;
  width: 2px;
  background: #BF3D3D;
  bottom: 3px;
  left: 11px;
}
