body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.mesh-bg {
  background-color: hsla(24, 100%, 97%, 1);
  background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(340,100%,76%,0.1) 0px, transparent 50%);
}
.dark .mesh-bg {
  background-color: #1a100c;
  background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,0.05) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,0.05) 0px, transparent 50%);
}
.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card:active {
  transform: scale(0.98);
}

.inverse-top-corners {
  --r: 14px;
  -webkit-mask:
    radial-gradient(circle var(--r) at left top, transparent 99%, #000 100%),
    radial-gradient(circle var(--r) at right top, transparent 99%, #000 100%),
    linear-gradient(#000 0 0);
  -webkit-mask-repeat: no-repeat;
  mask:
    radial-gradient(circle var(--r) at left top, transparent 99%, #000 100%),
    radial-gradient(circle var(--r) at right top, transparent 99%, #000 100%),
    linear-gradient(#000 0 0);
  mask-repeat: no-repeat;
}
