body {
    background-color: #f8f6f5;
}

.dark body {
    background-color: #1a100c;
}

.shadow-glow {
    box-shadow: 0 0 20px rgba(255, 82, 0, 0.35);
}

.fill-1 {
    font-variation-settings: 'FILL' 1;
}

:root {
    --color-primary: #FF5200;
}
.theme-blue {
    --color-primary: #2563EB;
}
.theme-emerald {
    --color-primary: #10B981;
}
.text-primary {
    color: var(--color-primary) !important;
}
.bg-primary {
    background-color: var(--color-primary) !important;
}
.border-primary {
    border-color: var(--color-primary) !important;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background: #2a1e19;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}
