.container
  input.main
  span(class="searchicon")
  .microphone
    .mic-stand
  .icon-holder
    .icon#parking
      .tooltip Parking
    .icon#gas
      .base
      .tooltip Gas
    .icon#eat
      .fork
      .knife
      .tooltip Food
    .icon#coffee
      .cup
      .tooltip Coffee
    .icon#misc
      .dots
      .tooltip Misc