@tailwind base;
@tailwind components;
@tailwind utilities;

.floor-plan-grid {
            background-image: radial-gradient(#d1d5db 1px, transparent 1px);
            background-size: 24px 24px;
        }

body {
      min-height: max(884px, 100dvh);
    }

